@page "/dashboard"

@using BookOfHeroes.Data
@inject HeroService HeroService

<h2>Top Heroes</h2>

<div class="heroes-menu">
    @foreach (var hero in heroes)
    {
        <a href="/herodetails/@hero.Id">@hero.Name</a>
    }
</div>

@code {
    private List<Hero> heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
        heroes = heroes.Take(5).ToList();
    }
}
