@page "/"
@page "/dashboard"

@using BookOfHeroes.Data
@inject HeroService HeroService

<h2>Top Heroes</h2>

@foreach (var hero in heroes)
{
    <MudButton Href="@($"/herodetails/{hero.Id}")">@hero.Name</MudButton>
}

@code {
    private List<Hero> heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
        heroes = heroes.Take(5).ToList();
    }
}
