@page "/"

@using BookOfHeroes.Data
@inject HeroService HeroService
@inject MessageService MessageService

<h2>The Heroes</h2>

<ul class="heroes">
    @foreach (var hero in heroes)
    {
        <li @onclick="() => SelectHero(hero)">
            <span class="badge">@hero.Id</span> @hero.Name
        </li>
    }
</ul>

<HeroDetail hero="this.hero"></HeroDetail>

<Messages></Messages>

@code {
    private Hero[] heroes;
    private Hero hero;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
        hero = heroes.First();
    }

    private void SelectHero(Hero hero)
    {
        this.hero = hero;
        MessageService.Add($"HeroesComponent: Selected hero id={hero.Id}");
    }
}

