@page "/heroes"

@using BookOfHeroes.Data
@inject HeroService HeroService
@inject MessageService MessageService

<h3>The Heroes</h3>

<ul class="heroes">
    @foreach (var hero in heroes)
    {
        <li>
            <a href="/herodetails/@hero.Id">
                <span class="badge">@hero.Id</span> @hero.Name
            </a>
        </li>
    }
</ul>

@code {
    private List<Hero> heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
    }
}

