@page "/heroes"

@using BookOfHeroes.Data
@inject HeroService HeroService
@inject MessageService MessageService

<h3>The Heroes</h3>

<ul class="heroes">
    @foreach (var hero in heroes)
    {
        <li>
            <MudBadge Content="@hero.Id" Origin="Origin.CenterRight" Overlap="false">
                <MudButton Href="@($"/herodetails/{hero.Id}")"> @hero.Name</MudButton>
            </MudBadge>
        </li>
    }
</ul>

@code {
    private List<Hero> heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
    }
}

