@page "/"

@using BookOfHeroes.Data
@inject HeroService HeroService

<h3>@hero.Name.ToUpper() Details</h3>
<div><span>id: </span>@hero.Id</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" placeholder="name" @bind="@hero.Name">
</div>

@code {
    private Data.Hero hero = new Data.Hero() { Id = 1, Name = "Windstorm" };

    private Hero[] heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
    }
}

